<footer>
  <div class="footer">
    <div class="container">
      <div class="row pdn-top-30">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
          <div class="Follow">
            <h3>Follow Us</h3>
          </div>
          <ul class="location_icon">
            <li> <a href="#"><img src="assets/icon/facebook.png"></a></li>
            <li> <a href="#"><img src="assets/icon/Twitter.png"></a></li>
            <li> <a href="#"><img src="assets/icon/linkedin.png"></a></li>
            <li> <a href="#"><img src="assets/icon/instagram.png"></a></li>
          </ul>
        </div>
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
          <div class="Follow">
            <h3>Newsletter</h3>
          </div>
          <input class="Newsletter" placeholder="Enter your email" type="Enter your email">
          <button class="Subscribe">Subscribe</button>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <p>Văn Hoàn  <a href="https://html.design/">inventor</a></p>
    </div>
  </div>
</footer>
